body {
    font-family: Arial;
    background-color: #f4f6f9;
}

.container {
    width: 400px;
    margin: 120px auto;
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #0078D7;
    color: white;
    border: none;
    cursor: pointer;
}
