body {
    font-family: Arial;
    background-color: #f4f6f9;
}

.register-box {
    width: 380px;
    margin: 120px auto;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

    .register-box h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .register-box label {
        display: block;
        margin-top: 10px;
        font-weight: bold;
    }

    .register-box input {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
    }

    .register-box button {
        width: 100%;
        margin-top: 20px;
        padding: 10px;
        background-color: #0078D7;
        color: white;
        border: none;
        cursor: pointer;
    }

.error {
    color: red;
    display: block;
    margin-top: 15px;
    text-align: center;
}
